//! FONTS
$font-poppins: "poppins",
sans-serif;

//? COLORS
$color-coral:  #da414b;
$color-black: #28292C;
$color-white: #ffffff;

//? BREAKPOINTS
$bp-sm:575.98px;
$bp-md: 767.98px;
$bp-lg:991.98px;
$bp-xlg: 1199.98px;